div{
    height: 100px;
    width: 100px;
    background-color: red;
    background-image: url(image/internet.jpg);
    color: white;
    background-size: cover;
    position: fixed;
    right: 0;
    top: 50px;
} 